@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
